*{
    padding: 0;
    margin: 0;
}
@-o-viewport{
    width: device-width ;
    zoom: 1.0;
}
#somethingorother {
    width: 800px ;
  }
  
  @media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
      width: 120px ;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
      width: 320px ;
    }
  }
  @media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 480px ;
    }
  }  
body{
    background: url(background_image.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Tahoma;
    font-weight: bold;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: url(Snow.gif) no-repeat;
    background-size:cover;
    border-radius: 10px;
}
.label{
    padding: 50px 130px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.login_form{
    padding: 20px 40px;
}
.login_form .font{
    font-size: 20px;
    color: 	White;
    margin: 5px 0;
}
.login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}
.login_form .font2{
    margin-top: 30px;
}
.login_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #4d8ef0;
    border-radius: 3px;
    border: 1px solid #3949AB;
    transition: 0.5s;
}
.login_form button:hover{
    background: #C30F16;
}
.login_form #email_error,
.login_form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}